body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.mypanel{
  margin:10px !important;
  padding:5px;
  height:190px;
  width:300px;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
.backdrop{
  opacity: .5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  transition: opacity .15s linear;
}
.jumbo{
  padding:0px !important;
  margin-top:0px !important;
}
.action-button{
  margin:0 5px 0 5px; 
}
.buttons-container{
  bottom: 0px; 
  left: 0; 
  right: 0;
  position: absolute;
  margin: 0 auto 10px auto;
}
.tal{
  text-align: left
}
.buttons-wrapper{
  height: 150px;
}